[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-graphql-jwt = "<0.3.2"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.11"
